<div class="grid grid-cols-2 sm:grid-cols-3 md:grid-cols-4 gap-3">
  <div *ngFor="let item of items" (click)="toggleSelection(item)" class="w-full">
    <div
      [ngClass]="{
        'bg-indigo-800': selectedItem === item,
        'bg-gray-800': selectedItem !== item,
        'hover:bg-gray-600': selectedItem !== item,
        'hover:bg-indigo-600': selectedItem === item,
        'cursor-pointer': true,
        'shadow-xl': true,
        rounded: true,
        'text-white': true,
        'w-full': true,
        'text-center': true,
        'p-4': true,
        'select-none': true
      }"
    >
      <div class="flex items-center justify-center gap-2">{{ item.toUpperCase() }}</div>
    </div>
  </div>
</div>
